
    <h1>node js hello world</h1>
    <h2>hallo <%= nama %></h2>
    <h1><%= title %></h1>
    <h4>Daftar Mahasiswa</h4>
    <% if (mahasiswa.length < 1) { %>
        <p>data masih kosong</p>
    <% } %>
    <% mahasiswa.forEach(mhs => { %>
        <ul>
            <li>nama : <%= mhs.nama %></li>
            <li>Email : <%= mhs.email %></li>
        </ul>
    <% }) %>
